﻿@model Models.ForNewUsers.StageOne

@{
Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Основная инфррмация</title>
</head>
<body>
	<form asp-action="BasicDetails" method="post">
		<div asp-validation-summary="All"></div>
		<label>Ваша почта</label><br/>
		<input type="text" name="data.Email"/><br/>
		<label>Ваш номер телефона</label><br/>
		<input type="text" name="data.PhoneNumber"/><br/>
		<input type="submit" name="nextBtn" value='Дальше' />
	</form><br/>
</body>
</html>