﻿@model Models.ForNewUsers.StageTwo

@{
Layout = null;
}

<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Информация о себе</title>
</head>
<body>
	<form asp-action="MainInformation" method="post">
		<div asp-validation-summary="All"></div>
		<label>Ваше имя</label><br/>
		<input type="text" name="data.Name"/><br/>
		<label>Фамилия</label><br/>
		<input type="text" name="data.LastName"/><br/>
		<label>Дата рождения</label><br/>
		<input type="date" name="data.Birthday"/><br/>
		<input type="submit" name="nextBtn" value='Дальше' />
	</form><br/>
<br />
</body>
</html>
