﻿@using Models.Implements

<form asp-action="CreateComment">
    <table style="height: 68px;" width="743">
        <tbody>
            <tr>
                <td style="width: 240.328px; text-align: center;" colspan="3">Напишите свой комментарий</td>
            </tr>
            <tr>
                <td style="width: 240.328px;">
                    <input type="submit" value="Написать комментарий"/>
                </td>
                <td style="width: 240.328px;" colspan="2">
                    <textarea name="comment.CommentContent"></textarea>
                </td>
            </tr>
            <tr>
                <td style="width: 240.328px;">&nbsp;</td>
                <td style="width: 240.328px; text-align: center;">Все комментарии</td>
                <td style="width: 240.344px;">&nbsp;</td>
            </tr>
            <td>
                <td style="width: 240.328px;" colspan="3">
                    @foreach(CommentsViewer com in Model)
                    {
                        @if(com.CanDelete == true)
                        {
                            <tr>
                                <td>@com.AuthorName (Автор)</td>
                                <td>@com.CommentContent</td>
                                <td><a href="~/Posts/ConfirmDeleteComment/?formalId=@com.CommentId">Удалить</a></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@com.AuthorName</td>
                                <td>@com.CommentContent</td>
                                @if (@com.LikeThisComment == false)
                                {
                                    <td><a href="~/Posts/LikeThisPost/?formalId=@com.CommentId">Оценить</a></td>
                                }
                                else if(@com.LikeThisComment == true)
                                {
                                    <td>Вам нравится этот комментарий</td>
                                }
                            </tr>
                        }
                    }
                </td>
            </td>
      </tbody>
    </table>
</form>