﻿@using Models.Implements

<form asp-action="ConfirmedDeletionComment" method="post">
    <h1>Вы действительно хотите удалить комментарий?</h1>
    <textarea disabled="disabled" >@Model.CommentContent</textarea>
    <textarea style="display:none;" name="formalId">@Model.Id</textarea>
    <input  type="submit" value="Подтвердить удаление"/>
</form>