﻿<form asp-action="CreateNewPost" method="post">
    <table style="height: 63px; width: 730px;">
        <tbody>
            <tr>
                <td style="width: 708px; text-align: center;" colspan="3">
                    <h3><strong>Страница публикации вашего замечательного сообщения</strong>&nbsp;&nbsp;&nbsp;</h3>
                    </td>
            </tr>
            <tr>
                <td style="width: 232px;">Название вашей публикации</td>
                <td>
                    <input type="text" name="formalPost.title" />
                </td>
            </tr>
            <tr>
                <td style="width: 232px;">Содержание публикации</td>
                <td>
                    <textarea name="formalPost.PostContent"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Опубликовать"/>
                </td>
                <td style="width: 240px;">&nbsp;</td>
                <td style="width: 236px;">&nbsp;</td>
            </tr>
            </tbody>
            </table>
</form>