﻿@using Models.Implements
@using Models.Pagination
@model PaginationIndex
<h1>Посты</h1>
<table class="table">
    <tr>
        <th>Заголовок</th>
        <th>Сообщение</th>
        <th>Комментарии</th>
    </tr>
    @foreach (Post u in Model.Posts)
    {
        <tr>
            <td>@u.Title</td>
            <td>@u.PostContent</td>
            <td><a href="~/Posts/CommentViewer/?formalId=@u.Id">Посмотреть комментарии</a></td>
            <td><a href="~/Posts/DeletePost/?formalId=@u.Id">Удалить пост и все комментарии к нему</a></td>
        </tr>
    }
</table>
@if (Model.PageView.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageView.PageNumber - 1)"
       class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-left"></i>Назад
    </a>
}
@if (Model.PageView.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageView.PageNumber + 1)"
       class="btn btn-outline-dark">Вперед<i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}