﻿<form asp-action="ConfirmNewInformationAboutYourSelf" method="post">
    <table style="height: 232px;" width="279">
        <tbody>
            <tr>
                <td style="width: 269px;">Ваше имя</td>
                </tr>
                <tr>
                    <td style="width: 269px;"><textarea name="data.Name">@Model.Name</textarea></td>
                </tr>
                <tr>
                    <td style="width: 269px;">Ваша Фамилия</td>
                </tr>
                <tr>
                    <td style="width: 269px;"><textarea name="data.LastName">@Model.LastName</textarea></td>
                </tr>
                <tr>
                    <td style="width: 269px;">Ваш номер телефона</td>
                </tr>
                <tr>
                    <td style="width: 269px;"><textarea name="data.PhoneNumber">@Model.PhoneNumber</textarea></td>
                </tr>
                    <tr>
                        <td style="width: 269px;">Ваша электронная почта</td>
                    </tr>
                <tr>
                    <td style="width: 269px;"><textarea name="data.Email">@Model.Email</textarea></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Обновить информацию"/>
                    </td>
                </tr>
        </tbody>
    </table>
</form>
