﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ваша страница</title>
</head>

<body>
@{  
    ViewBag.Title = "ClientView";  
}
<table>
	<tbody>
		<tr>
			<td colspan="2">
				@Model.Name @Model.LastName
			</td>
			</tr>
			<tr>
				<td>
					<form asp-action="RedirectToCreateNewPost" method="post">
						<input type="submit" value="Новое сообщение"/>
					</form>
					<form asp-action="EditInformationAboutYourSelf" method="post">
						<input type="submit" value="Редактировать информациб о себе"/>
					</form>
				</td>
				<td style="height: 289.188px;"><iframe src="@Url.Action("Index","Posts")" width="280%" height="150%"></iframe></td>
			</tr>
	</tbody>
</table>
</body>
</html>
