﻿@model Models.Implements.Client
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Введите вашу почту или номер телефона</label>
                <input type="text" name="login"/>
            </div>
            <div class="form-group">
                <label>Введите вашу почту или номер телефона</label>
                <input type="password" name="password"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" /><br>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}